// Import partials:
@import './partials/buttons.scss';
@import './partials/layout.scss';
@import './partials/reset.scss';
@import './partials/typography.scss';
@import './partials/colors.scss';

// Import modules:
@import './modules/all.scss';

html {
    background-color: $background-color;
}

.App {
  text-align: center;
}

h3 {
    color: $white;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
