@import '~/node_modules/bootstrap/dist/css/bootstrap.css';
@import '~/node_modules/bootstrap/dist/css/bootstrap-theme.css';
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css");

// Import partials:
@import './partials/buttons.scss';
@import './partials/layout.scss';
@import './partials/reset.scss';
@import './partials/typography.scss';

// Import modules:
@import './modules/all.scss';

html {
    background-color: #222;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.Developed-by {
    align-self: center;
    font-size: 0.8em;
}

.Search-bar {
    display: flex;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  height: 70px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.2em;
}

.App-intro {
  font-size: large;
}

.End-bar {
    display: flex;
}

.Login, .Search-button {
    margin: 10px;
}
