@import '~/node_modules/bootstrap/dist/css/bootstrap.css';
@import '~/node_modules/bootstrap/dist/css/bootstrap-theme.css';
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css");

// Import partials:
@import './partials/buttons.scss';
@import './partials/layout.scss';
@import './partials/reset.scss';
@import './partials/typography.scss';

// Import modules:
@import './modules/all.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.2em;
}

.App-intro {
  font-size: large;
}
